{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Representantes</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
<body>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'processo' %}">Novo Processo</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Listar</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'list_pregoeiro' %}">Pregoeiros</a>
              <a class="dropdown-item" href="{% url 'list_pregao' %}">Pregões</a>
              <a class="dropdown-item" href="{% url 'list_secretaria' %}">Secretarias</a>
              <a class="dropdown-item" href="{% url 'list_secretario' %}">Secretários</a>
              <a class="dropdown-item" href="{% url 'list_representante' %}">Representantes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastros</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'pregoeiro' %}">Pregoeiro</a>
              <a class="dropdown-item" href="{% url 'representante' %}">Representante</a>
              <a class="dropdown-item" href="{% url 'secretario' %}">Secretário</a>
              <a class="dropdown-item" href="{% url 'secretaria' %}">Secretaria</a>
              <a class="dropdown-item" href="{% url 'representante' %}">Representante</a>
              <a class="dropdown-item" href="{% url 'empresa' %}">Empresa</a>
          </li>
        </ul>

        <div class="container">
            {% if representantes %}
           <h1>Processos</h1>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">RG</th>
                        <th scope="col">Cidade - UF</th>
                        <th scope="col">Fone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for representante in representantes %}
                        <tr>
                            <td scope="row">{{ representante.id }}</td>
                            <td scope="row"> <a href="#modal{{ representante.id }}" data-toggle="modal""> {{ representante.nome }} </a></td>
                            <td scope="row">{{ representante.cpf }}</td>
                            <td scope="row">{{ representante.rg }}</td>
                            <td scope="row">{{ representante.cidade }} - {{ representante.estado }}</td>
                            <td scope="row">{{ representante.fone }}</td>
                        </tr>
                        <div class="modal fade bd-example-modal-lg show" id="modal{{representante.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h2>Ainda não existem representantes cadastrados. :( </h2>
            {% endif %}
        </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>