{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <title>Novo Representante</title>
    {% bootstrap_css %}
</head>
<body>
    <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'processo' %}">Novo Processo</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Listar</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'list_pregoeiro' %}">Pregoeiros</a>
              <a class="dropdown-item" href="{% url 'list_pregao' %}">Pregões</a>
              <a class="dropdown-item" href="{% url 'list_secretaria' %}">Secretarias</a>
              <a class="dropdown-item" href="{% url 'list_secretario' %}">Secretários</a>
              <a class="dropdown-item" href="{% url 'list_representante' %}">Representantes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastros</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'pregoeiro' %}">Pregoeiro</a>
              <a class="dropdown-item" href="{% url 'representante' %}">Representante</a>
              <a class="dropdown-item" href="{% url 'secretario' %}">Secretário</a>
              <a class="dropdown-item" href="{% url 'secretaria' %}">Secretaria</a>
              <a class="dropdown-item" href="{% url 'representante' %}">Representante</a>
              <a class="dropdown-item" href="{% url 'empresa' %}">Empresa</a>
          </li>
        </ul>
    <div class="container">
      <h1>Representante</h1>
        {% bootstrap_messages %}

        <form action="{% url 'representante' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            {% endbuttons %}
        </form>
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>
